.sidebar {
  width: 80px;
  background-color: #2a5db0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  color: white;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  margin: 20px 0;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar button img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}
